      <h1>
        <%= job.title %>
      </h1>
      <p>
        <%= content_tag :span, class: "job-company" do %>
          <%= link_to_unless job.website.blank?, job.company, job.website %>
        <% end %>
        <%= content_tag :span, "#{job.location}/#{job.modality_name}", class: "job-location" %>
        <%= content_tag :span, l(job.created_at, format: :long), class: "job-date" %>
        <%= content_tag :span, %(Hiring: #{job.contract_type_label}), format: :long,
          class: "job-contract-type-#{job.contract_type}" %>
        <%= content_tag :span, %(Salary: #{job.salary_label}), format: :long, class: "job-salary-#{job.salary}" %>
      </p>
    </div>

    <div class="job-description">
      <%= markdown job.description %>
    </div>

    <%= content_tag :div, class: "well skills" do %>
      <h4> Skills </h4>
      <%= job.skills %>
    <% end if job.skills.present? %>

    <div class="row do-you-like-it">

      <% if show_image == true %>

        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
          <%= image_tag  "hire-portland-dark.png" %>
        </div>

      <% end%>

      <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
        <h4> Like the position? </h4>
        <p>
          <% if job.url.present? %>
            <%= link_to 'Apply', job.url %> and if you are hired let us know!
          <% else %>
            Contact the job poster <%= content_tag :span, (mail_to job.email), class: "email" %>
            , and let us know if you get the job!
          <% end %>
        </p>
      </div>
