<header id="home">
  <div class="container" style="margin-top: -10%;">
    <%= image_tag "hire-portland.png", class: "logo img-responsive" %>
    <h2 style="margin-top: -10%;">Are you looking for tech talent?</h2>
    <p> Post your open positions on HirePortland and let more than 2000 professionals know you're hiring.</p>
    <%= link_to "Post a Position!", new_job_path, class: "btn btn-ghost"%>
  </div>
</header>


<div class="main-section" id="<%= controller_action %>">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="page-header">
          <h1>Recent Jobs</h1>
        </div>
        <div class="table-responsive">
          <table class="jobs-list">
            <% @jobs.each do |job| %>
            <tr class="<%= job.modality %>">
              <%= content_tag :td, image_tag(job.badge), class: "job-badge" %>
              <%= content_tag :td, class: "job-title-company" do %>
              <%= content_tag :p, (link_to (truncate(job.title, :length => 50)), job_path(job)), class: "job-title" %>
              <%= content_tag :p, (truncate(job.company, :length => 40)), class: "job-company" %>
              <% end %>
              <%= content_tag :td, (truncate(job.location, :length => 28)), class: "job-location" %>
              <td class="job-date badger-right badger-<%= job.modality %>" data-badger="<%= job.modality_name %>">
                <%= job.created_at.strftime("%d/%m/%Y") %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
        <%= link_to "More", :jobs, class: "show-more-jobs" %>
      </div>
    </div>
    <!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
      style="display:inline-block;width:728px;height:90px"
      data-ad-client="ca-pub-3241477158749799"
      data-ad-slot="6093586062"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>-->

  </div>
</div>
