<!DOCTYPE html>
<html ng-app="rubyJobs">
<head>
  <title>HireMePortland | Find a tech job </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="HireMePortland is the place to find the best tech related jobs all over the PNW and around the Country. Join and post for free.">
  <meta property="og:url" content="http://www.hmportland.com">
  <!--<meta property="og:title" content="RubyJobs | Find a ruby job for free">-->
  <meta property="og:site_name" content="HireMePortland">
  <meta property="og:image" content="<%= image_path('logo-for-opengraph') %>">
  <meta property="og:image:type" content="image/png">
  <meta property="og:description" content="HireMePortland is the place to find the best tech related jobs all over the PNW and around the Country. Join and post for free.">

  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <%= auto_discovery_link_tag :atom, "/feed" %>
  <%= auto_discovery_link_tag :rss, "/feed.rss" %>

  <%= favicon_link_tag 'jobs.png' %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body id="<%= controller_action %>">
  <%= render 'layouts/navbar' %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
  <%= render "layouts/footer" %>
</body>
</html>
